// .team-section {
//   background-color: $light-grey-white;
//   margin-left: auto;
//   margin-right: auto;
// }

// .team {
//   flex-direction: column;
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.team__title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: $pre-black;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list {
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  margin: 0px;
  list-style-type: none; /* Убираем маркеры */
}

.team__item {
  width: 270px;
  background: $white;
  box-shadow: $team-shadow;
  border-radius: 0px 0px 4px 4px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.team__card {
  padding: 30px 15px;
  text-align: center;
}

.team__name {
  color: $pre-black;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.team__position {
  margin-top: 10px;
  margin-bottom: 0px;
  color: $grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.social-network-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-network-icons__item:not(:first-child) {
  margin-left: 10px;
}

.social-network-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $white;
  fill: $network-grey;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue;
    fill: $white;
    outline: none;
  }
}
