.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--hidden.modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  max-width: 450px;
  min-height: 609px;
  background-color: $white;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  margin: 0px;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $blue;
  }
}

.form__title {
  margin: 0 0 12px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  color: $pre-black;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form__thumb {
  position: relative;

  &:hover form__input,
  &:hover form__textarea {
    cursor: pointer;
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  text-align: left;
  color: $grey;
}

.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1200px) {
    max-width: 370px;
  }

  &:focus,
  &:hover {
    border-color: $blue;
  }

  .form__item:focus-within & {
    border-color: $blue;
    outline: none;
    cursor: text;
  }

  &:focus + .form__icon,
  &:hover + .form__icon {
    fill: $blue;
  }
}

.form__textarea {
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1200px) {
    width: 370px;
  }

  &:focus,
  &:hover {
    border-color: $blue;
  }

  .form__item:focus-within & {
    border-color: $blue;
    outline: none;
    cursor: text;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    padding-left: 0;
  }
}

.form__policy-field {
  display: block;
  align-items: center;
  margin-bottom: 30px;

  color: $grey;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-align: center;
}

.form__button {
  display: block;
  padding: 10px 55px;
  margin: 30px auto 0px auto;

  color: $white;
  background-color: $blue;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $blue-hover;
  }
}

.form__policy-check {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;

  &:checked + .form__icon-check {
    background-color: $blue;
    background-image: url('../images/check-icon.svg');
    background-size: contain;
    background-origin: border-box;
    border: 1px solid $blue;
  }
}

.form__icon-check {
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid $pre-black;
  border-radius: 2px;
}

.form__link {
  margin-left: 2px;
  color: $blue;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  text-decoration: underline;
}
